/* =========================================================================
   1. CONTENEDOR GENERAL (Capa 0: Fondo Absoluto con UNA SEXTA IMAGEN)
   ========================================================================= */

html, body {
    background-image: none !important;
    background-color: #b2a7b0 !important; 
    margin: 0;
    padding: 0;
}

.vista-heladera-contexto {
    display: flex; 
    height: 100%;
    width: 100%;
    overflow: hidden;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    align-items: flex-start;
    padding-top: 10px; 
    padding-bottom: 40px;
    
    background-color: #b2a7b0 !important;
    background-position: center center; 
    background-size: cover; 
}

.heladera-seccion-derecha {
    flex-grow: 1; 
    display: flex;
    justify-content: center; 
    align-items: center; 
    padding: 20px;
    position: relative; 
    overflow: hidden;
}

/* Envoltura central de la heladera */
.heladera-wrapper {
    display: flex;
    align-items: center; 
    position: relative; 
    height: 1400px; 
    width: 1050px; 
}

/* =========================================================================
   2. EL GABINETE DE LA HELADERA (Capa 1: Estructura Intermedia Flotante)
   ========================================================================= */
.refrigerator, #puerta {
    background-color: #4a4848;
    background-image: url("../images/fondo_heladera.png");
    background-size: cover;
    border-radius: 10px 10px 10px 10px;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border: 3px solid #22223B;
    position: relative; 
    overflow: visible; 
    
    box-shadow: 5px 5px 8px 5px rgba(0, 0, 0, 0.35), 0 10px 20px rgba(0, 0, 0, 0.2);
   
}

/* Puertas estéticas */
.refrigerator-door {
    background-color: #666769;
    background-image: url("../images/heladera.png");
    background-size: cover;
    border: 3px solid #22223B;
    position: absolute; 
    left: 8px;
    right: 8px;
    box-sizing: border-box;
    pointer-events: none;
}

/* Puerta superior (Freezer) */
.refrigerator-door.top {
    border-radius: 8px 8px 8px 8px;
    top: 8px;
    height: 35%;
    box-shadow: inset 0 3px 5px rgba(255, 255, 255, 0.15);
}

/* Puerta inferior (Heladera) */
.refrigerator-door.bottom {
    border-radius: 8px 8px;
    bottom: 10px;
    height: 62%;
    box-shadow: inset 0 3px 5px rgba(255, 255, 255, 0.08);
}

/* Manijas */
.refrigerator-handle {
    background-color: #cbd5e1;
    background-image: url("../images/manija.png");
    border: 2px solid #22223B;
    border-radius: 2px;
    position: absolute;
    width: 12px;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
}

.top .refrigerator-handle {
    height: 200px;
    bottom: 35px;
    left: 35px;
}

.bottom .refrigerator-handle {
    height: 400px;
    top: 35px;
    left: 35px;
}

/* =========================================================================
   3. GAVETA DE ARCHIVADO (ZONA DERECHA)
   ========================================================================= */
.gaveta-guardar {
    width: 100px;
    height: 38%; 
    position: relative;
    bottom: 425px;
    right: -50px; 
    flex-shrink: 0;
    
    background-color: #746672;
    border: 3px solid #22223B;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;
    text-align: center;
    box-shadow: 5px 5px 0px #9a8c98; 
    box-sizing: border-box;
    transition: all 0.25s ease;
}

.gaveta-guardar.active {
    width: 115px;
    background-color: #e95f5f; 
    border-color: #22223B;
    transform: scale(1.001) translateY(-3px);
}

.gaveta-guardar.active .gaveta-icono {
    transform: scale(1.3) translateY(-5px);
}

.gaveta-guardar.active .gaveta-texto {
    color: #ffffff;
}

.gaveta-icono {
    font-size: 1.5rem;
    margin-bottom: 12px;
    transition: 0.3s;
}
.gaveta-texto {
    font-size: 0.8rem;
    font-weight: 800;
    color: #333333;
    writing-mode: vertical-lr;
    text-transform: uppercase;
    letter-spacing: 1px;
}

/* =========================================================================
   4. ESTILO DE LOS IMANES 
   ========================================================================= */
.iman-viaje {
    position: absolute; 
    cursor: grab;
    user-select: none;
    z-index: 10; 

    background: transparent; 
    border: none;
    box-shadow: none;

    width: 120px;
    height: 120px;            
    
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px;
    box-sizing: border-box;
}

.iman-viaje img, .iman-viaje .iman-imagen-real {
    width: 100%;
    height: 100%;
    
    object-fit: contain;     
    
    filter: drop-shadow(4px 4px 3px rgba(26, 35, 50, 0.45));
}

.iman-viaje:active {
    cursor: grabbing;
    transform: scale(1.1);
    
    filter: drop-shadow(8px 12px 6px rgba(0, 0, 0, 0.5)); 
    z-index: 1000;           /* JS lo sube al frente de todo */
}

#puerta .iman-viaje * {
    pointer-events: none;
}

/* =========================================================================
   5. SECCIÓN IZQUIERDA: TÍTULO DEL PANEL
   ========================================================================= */
.heladera-seccion-izquierda {
    width: 200px; 
    padding: 20px 20px 20px 20px; 
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-shrink: 0; /* Evita que la heladera lo aplaste */
    box-sizing: border-box;
}

.heladera-titulo {
    font-size: 2.8rem;
    font-weight: 800;
    color: #22223B; 
    line-height: 1.2;
    margin: 0 0 10px 0;
    text-transform: uppercase;
    letter-spacing: -1px;
    font-family: 'Poppins', sans-serif;
}

.heladera-subtitulo {
    font-size: 1rem;
    font-weight: 500;
    color: #4A4E69;
    margin: 0;
}