{% extends "base.html" %}

{% block title %}Panel Admin - Icebox{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/admin.css') }}">
{% endblock %}

{% block content%}
<div class="admin-container">
    
    <div class="admin-logout-wrapper">
        <a href="{{ url_for('login.logout') }}" class="btn-admin-logout">
            Cerrar Sesión
        </a>
    </div>
    
    <h1 class="admin-title">
        Panel de Control: Administrador        
    </h1>

    <div class="fila-tarjetas">
        <div class="chart-card">
            <h3>Estadísticas de Viajes Globales</h3>
            <div class="canvas-container">
                <canvas id="miGrafico"></canvas>
            </div>
        </div>
        
        <div class="chart-card">
            <h3>Imanes en Heladera</h3>
            <p id="resumen-imanes"></p>
            <div class="canvas-container">
                <canvas id="graficoImanes"></canvas>
            </div>
        </div>
    </div>

    <div class="fila-tarjetas fila-segunda">
        <div class="chart-card tarjeta-completa">
            <h3>Top Ciudades con Más Reseñas</h3>
            <div class="canvas-container">
                <canvas id="graficoResenas"></canvas>
            </div>
        </div>

        <div class="chart-card">
            <h3>Ranking de Viajeros Frecuentes (Top 5)</h3>
            <div class="canvas-container">
                <canvas id="graficoUsuarios"></canvas>
            </div>
        </div>
    </div>

    <a href= "{{ url_for('admin.descargar_reporte') }}" class="btn-download-pdf">
        Descargar Reporte en PDF
    </a>
</div>



<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
    const labelsCiudades = {{ ciudades | tojson | safe }};
    const dataVisitas = {{ visitas | tojson | safe }};
    const labelsImanes = {{ ubicaciones | tojson | safe }};
    const dataImanes = {{ cant_imanes | tojson | safe }};
    const labelsResenas = {{ ciudades_reseñas | tojson }};
    const dataResenas = {{ cant_reseñas | tojson }};
    const labelsUsuarios = {{ usuarios | tojson | safe }};
    const dataViajes = {{ cant_viajes | tojson | safe }};
</script>
<script src="{{ url_for('static', filename='js/admin.js') }}"></script>
{% endblock %}