{% extends "base.html" %}

{% block title %}Mi Cajón de Recuerdos - Icebox Trips{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/cajon.css') }}">
{% endblock %}

{% block content %}
<div class="vista-cajon-contexto">
    <div class="cajon-wrapper">
        
        <div class="cajon-marco">
            <h2>Cajón de Imanes Archivados</h2>
            
            <div class="grilla-cajon" 
                 id="cajon-archivado"
                 data-backend="{{ backend_url }}"
                 data-usuario="{{ usuario_id }}">
                 
                {% for iman in imanes %}
                <div class="iman-viaje" 
                    data-id="{{ iman.id_iman }}"
                    data-parada="{{ iman.id_parada }}"
                    data-viaje="{{ iman.id_viaje }}"
                    data-id-ciudad="{{ iman.id_ciudad }}">
                    
                    <img src="{{ iman.imagen_url }}" class="iman-imagen-real" alt="Imán">
                    
                </div>
                {% else %}
                <div class="cajon-vacio-texto" style="grid-column: 1/-1; color: #4A4E69; font-style: italic; padding-top: 20px;">
                    No hay imanes archivados en este momento.
                </div>
                {% endfor %}
                 
            </div>
        </div>

        <div class="gaveta-devolucion" id="zona-devolver">
            <div class="gaveta-icono">
                <ion-icon name="arrow-back-circle-outline"></ion-icon>
            </div>
            <span class="gaveta-texto">Soltá acá el imán para enviarlo a la Heladera</span>
        </div>

    </div>
</div>
{% endblock %}

{% block extra_js %}
<script src="{{ url_for('static', filename='js/cajon.js') }}"></script>
{% endblock %}