{% extends "base.html" %}

{% block content %}
<div class="vista-heladera-contexto">
    
    <div class="heladera-seccion-derecha">
        <div class="heladera-wrapper">

            <div class="refrigerator" id="puerta" data-backend="http://127.0.0.1:5000" data-usuario="{{ usuario_id }}">
                
                <div class="refrigerator-door top">
                    <div class="refrigerator-handle"></div>
                </div>
                
                <div class="refrigerator-door bottom">
                    <div class="refrigerator-handle"></div>
                </div>

                {% for iman in imanes %}
                <div class="iman-viaje" id="iman-{{ iman.id }}" data-id="{{ iman.id }}" style="left: {{ iman.posicion_x }}px; top: {{ iman.posicion_y }}px;">
                    <div class="iman-pin"></div>
                    <div class="iman-destino">{{ iman.destino }}</div>
                    <div class="iman-fecha">{{ iman.fecha if iman.fecha else '' }}</div>
                </div>
                {% endfor %}

                <div class="iman-viaje" id="iman-prueba-1" data-id="999" style="left: 50px; top: 60px;">
                    <div class="iman-pin"></div>
                    <div class="iman-destino">Bariloche</div>
                    <div class="iman-fecha">Ene 2024</div>
                </div>

                <div class="iman-viaje" id="iman-prueba-2" data-id="888" style="left: 120px; top: 250px;">
                    <div class="iman-pin"></div>
                    <div class="iman-destino">Río de Janeiro</div>
                    <div class="iman-fecha">Mar 2025</div>
                </div>

            </div> 

            <div class="gaveta-guardar" id="zona-guardar">
                <div class="gaveta-icono">
                    <ion-icon name="arrow-forward-circle-outline"></ion-icon>
                </div>
                <span class="gaveta-texto">Soltá el imán acá para archivar en el cajón</span>
            </div>

        </div>
    </div>

</div>
<script src="{{ url_for('static', filename='js/heladera.js') }}"></script>
{% endblock %}