{% extends "base.html" %}

{% block content %}
<div class="vista-heladera-contexto">
    
    <div class="heladera-seccion-izquierda">
        <h1 class="heladera-titulo">Mi Heladera<br>de Viajes</h1>
        <p class="heladera-subtitulo">Gestioná tus imanes coleccionados</p>
    </div>

    <div class="heladera-seccion-derecha">
        <div class="heladera-wrapper">

            <div class="refrigerator" id="puerta" data-backend="http://127.0.0.1:5000/endpoints" data-usuario="{{ usuario_id }}">
                
                <div class="refrigerator-door top">
                    <div class="refrigerator-handle"></div>
                </div>
                
                <div class="refrigerator-door bottom">
                    <div class="refrigerator-handle"></div>
                </div>

                {% for iman in imanes %}
                <div class="iman-viaje" 
                    id="iman-{{ iman.id_iman }}" 
                    data-id="{{ iman.id_iman }}" 
                    data-parada="{{ iman.id_parada }}"
                    data-viaje="{{ iman.id_viaje }}"
                    data-id-ciudad="{{ iman.id_ciudad }}"
                    style="left: {{ iman.posicion_x }}px; top: {{ iman.posicion_y }}px;">
                    
                    <img src="{{ iman.imagen_url }}" class="iman-imagen-real" alt="Imán">
                    
                </div>
                {% endfor %}

            </div> 

            <div class="gaveta-guardar" id="zona-guardar">
                <div class="gaveta-icono">
                    <ion-icon name="arrow-forward-circle-outline"></ion-icon>
                </div>
                <span class="gaveta-texto">Soltá el imán acá para archivar en el cajón</span>
            </div>

        </div>
    </div>

</div>
<script src="{{ url_for('static', filename='js/heladera.js') }}"></script>
{% endblock %}