{% extends "base.html" %}

{% block title %}Iniciar Sesión - Icebox{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
{% endblock %}

{% block content %}
<form id="msform" action="{{ url_for('login.login') }}" method="POST">
  
  <fieldset class="active-fieldset">
    <h2 class="fs-title">Ingresá a tu cuenta</h2>
    <h3 class="fs-subtitle">Icebox Trips</h3>
    
    <input type="text" name="email" placeholder="Correo Electrónico" required />
    <input type="password" name="password" placeholder="Contraseña" required />
    
    <button type="submit" class="submit action-button">Ingresar</button>
    <div style="margin-top: 20px; font-family: 'Poppins', sans-serif; font-size: 13px; color: #666">
      ¿No tenés cuenta?
      <br>
      <a href="{{url_for('login.vista_registro')}}" style="color: #7485e6; font-weight: bold; text-decoration: underline; cursor: pointer">
        Registrate acá
      </a>
    </div>
  </fieldset>

</form>
{% endblock %}