{% extends "base.html" %}

{% block title %}Iniciar Sesión - Icebox{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/login-style.css') }}">
{% endblock %}

{% block content %}
<form id="msform" action="{{ url_for('login.login') }}" method="POST">
  
  <fieldset class="active-fieldset">
    <h2 class="fs-title">Ingresá a tu cuenta</h2>
    <h3 class="fs-subtitle">Icebox Trips</h3>
    
    <input type="text" name="username" placeholder="Usuario (fiuba)" required />
    <input type="password" name="password" placeholder="Contraseña (ids)" required />
    
    <button type="submit" class="submit action-button">Ingresar</button>
  </fieldset>

</form>
{% endblock %}