{% extends "base.html" %}

{% block title %}Mapa - Icebox Trips{% endblock %}

{% block extra_css %}
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"/>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/map.css') }}">
{% endblock %}

{% block content %}
  <div id="map"></div>

  <div id="sidebar" class="sidebar">
    <div class="sidebar-header">
      <h3> Tus imanes aquí: </h3>
      <button onclick="document.getElementById('sidebar').classList.remove('active')">&times;</button>
    </div>
    <div class="sidebar-content">
      <p> </p>
    </div>
  </div>

{% endblock %}

{% block extra_js %}
  <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
  <script>
    // const PAISES_VISITADOS = {{ paises_visitados | tojson }};
    const PAISES_VISITADOS = ["ARG", "BRA", "ESP", "USA", "FRA"];
  </script>
  <script src="{{ url_for('static', filename='js/map.js') }}"></script>
{% endblock %}
